<div class="row">
  <div class="span0 well text-center">
    <% if logged_in?%>
      <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
      <i class="icon-thumbs-up"></i>
      <% end %>
    <% end %>
    <br>
      <span id="post_<%= post.slug %>_votes"><%= pluralize(post.total_votes, 'vote') %></span>
    <br>
    <% if logged_in?%>
      <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
      <i class="icon-thumbs-down"></i>
      <% end %>
    <% end %>
    </div>

  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description %></p>
    <p><span class="quiet"><i>posted by</i>
    <%= link_to post.creator.username, user_path(post.creator) if post.creator %>
    <i>on  <%= post.created_at.strftime("%B %d, %Y") %></i></span>
    </p>

    <% if logged_in? && current_user.id == post.user_id || current_user.admin? %>
      <small>
        <span class="label label-info">
        <%= link_to 'Edit this post ', edit_post_path(post)%>
        </span>
    <% end %>
        <span class="label label-warning">
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
        </span>
      </small>

  </div>
</div>