 <div class="row">
    <div class="span8 well">
    
     <%= render post.categories %>

    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description %></p>
    
    <p>
    <span class="quiet"><i>posted by</i>  <%= post.creator.username if post.creator %> <i>on  <%= post.created_at.strftime("%B %d, %Y") %></i></small></p>

    <% if logged_in? %><small><span class="label label-info"><%= link_to 'Edit this post ', edit_post_path(post)%></span><% end %>
      <span class="label label-warning"><%= link_to("#{post.comments.size} comments", post_path(post)) %> </span>
    </small>

    </div>
  </div>