<div>
  <%= render 'shared/content_title', title: @post.title %>
  <span class="label label-info"><%= link_to 'visit website', fix_url(@post.url) if @post.url?%></span>
  <br> <br>
   <p>
    <%= @post.description %>
  </p>
  <hr>
  <%= render 'comments/form' %>
</div>
  <% @post.reload.comments.each do |comment|%>
    <%= render 'comments/comment', comment: comment %>
  <%end%>

