<div class="pull-right">
  <%= link_to '[back]', posts_path%> | 
<%= link_to "[edit]", edit_post_path(@post)%>
</div>

<%= render 'shared/content_title', title: @post.title %>
<p>
  <%= link_to @post.url, fix_url(@post.url) %> <!-- check helper -->
  <br>

  <%= @post.description %>
</p>
<hr/>
<%= render "shared/error", object: @comment %>

<h4>Create a comment</h4>
<%= form_for [@post, @comment] do |f|%> 
  <div class="control-group">
<!--[@parentobject, @object we are dealing with], make sure all instance variables are available at comments_controller -->
  <%= f.text_area :body %> <br>
  </div>
  <%= f.submit 'Create Comment', class: "btn btn-primary"%>
<% end %>


<% @post.reload.comments.each do |postcomment|%>
<div class="span8 well">
 <span class="quiet"> @<%= @post.creator.username%> said:</span> <%= postcomment.body %> <span class="quiet"><i> <%= postcomment.created_at%> ago</i></span>
</div>
<%end%>

<br>


