<div>
<%= render 'shared/content_title', title: @post.title %>
<p>
  <%= link_to @post.url, fix_url(@post.url) %> <!-- check helper -->
  <br>

  <%= @post.description %>
</p>


<%= render "shared/error", object: @comment %>
<% if logged_in? %>
<h4>Create a comment</h4>
<%= form_for [@post, @comment] do |f|%> 
  <div class="control-group">
<!--[@parentobject, @object we are dealing with], make sure all instance variables are available at comments_controller -->
  <%= f.text_area :body %> <br>
  </div>
  <%= f.submit 'Create Comment', class: "btn btn-primary"%>
<% end %>

<% else %>
<%= link_to 'Log in to create a comment', login_path, class: 'btn btn-success btn-small'%>
<% end %>

<br>

<hr/>

<% @post.reload.comments.each do |postcomment|%>
<div class="span8 well">
 <span class="quiet"> @<%= postcomment.creator.username %> said:</span> <%= postcomment.body %> <span class="quiet"><i> on <%= postcomment.created_at.strftime("%B %d, %Y")%></i></span>
</div>
<%end%>

<br>
</div>

