<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>

<div class='btn-group nav_item'>
  <%= link_to '#', class: 'btn btn-small drowndown-toggle', 'data-toggle' => 'dropdown' do %>
  Categories <span class='caret'></span>
  <% end%>
  <ul class='dropdown-menu'>
    <% Category.all.each do |c|%>
      <li>
        <%= link_to c.name, category_path(c) %>
      </li>
    <% end %>

    <% if logged_in? && current_user.admin? %>

      <li class='divider'></li>
      <li>
        <%= link_to(new_category_path) do %>
          <i class="icon-plus"></i>
          New Category

        <%end%>
      </li>
     <% end %>
  </ul>
</div>

<div class='nav_item'>
  <% if logged_in? %>
    <div class="dropdown">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>

    <button class="btn btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    <i class="icon-user"></i><%= current_user.username%>
      <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><%= link_to 'View Profile', user_path(current_user)%></li>
    <li role="presentation"><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1"> <%= link_to 'Logout', logout_path %></a></li>
  </ul>
</div>

  <% else %>
    <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
    <%= link_to 'Login', login_path, class: 'btn btn-success btn-small' %>
  <% end %>
</div>
