<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>
<div class='btn-group nav_item'>
  <%= link_to '#', class: 'btn btn-small drowndown-toggle', 'data-toggle' => 'dropdown' do %>
  Categories <span class='caret'></span>
  <% end%>
  <ul class='dropdown-menu'>
    <% Category.all.each do |c|%>
      <li>
        <%= link_to c.name, category_path(c) %>
      </li>
    <% end %>

    <% if logged_in? %>

      <li class='divider'></li>
      <li>
        <%= link_to(new_category_path) do %>
          <i class="icon-plus"></i>
          New Category

        <%end%>
      </li>
     <% end %>
  </ul>
</div>
 <div class='nav_item'>
 <% if logged_in? %>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
    <%=link_to "hi #{current_user.username}", edit_user_path(current_user), class: 'btn btn-success btn-small' %>
        <%= link_to 'Logout', logout_path, class: 'btn btn-warning btn-small' %>
  <% else %>
    <%= link_to 'Register', new_user_path, class: 'btn btn-success btn-small' %>
    <%= link_to 'Login', login_path, class: 'btn btn-success btn-small' %>
  <% end %>
  </div>
